.body{
	position:relative;
}

.link-wrapper{
	position: relative;
}

.quickView{
	position: absolute;
	inset-block-end: 0px;
	inset-inline-start: 0px;
	width:100%;
	text-align: center;
	background-color: #6E9277;
	color: #ffffff;
	height: 0px;
	z-index: 2;
}

.modal{
	position:fixed;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	display: none;
	width:50vw;
	/*height:600px;*/
	z-index: 100;
	padding: 15px;
}

.modal-header{
	display: flex;
	justify-content: space-between;
}

.modal-title{
	display: flex;
	justify-content: center;
}

.close-modal-icon{
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.w-100{
	width:100%;
}
.text-end{
	text-align: end;
}
.slider{
	width:100%;
	height:100%;
}
.shown-img{
	display: flex;
	justify-content: center;
}
.product-carousel-image{
	width: 100%;
	max-height: 350px;
	object-fit: contain;
}
.dots{
	display:flex;
	/*align-items: center;*/
	justify-content: center;
	width: 100%;	
	overflow: visible;
}

.dots{
	height: 100px;
}

.dot img{
	width:90px;
	height: 100%;
	margin-block-start:10px;
	margin-inline-start: 10px;
	object-fit: cover;
}

.active-dot{
	border: 3px solid #000;
}



.shown-img {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.shown-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: zoom;
  transition: transform 0.3s ease-in-out;
}